@charset "UTF-8";

/* Typical Device breakpoints
  -----------------------------

  telas pequenas (XS): Menos de 576px
  Celular (SM): 576px - 767px
  Tablet (MD): 768px - 991px
  Desktop (LG): 992px - 1199px
  Telas grandes (XL): 1200px e acima
  */

  :root {
    --color01:#49a09d;
    --color02:#5f2c82;
  }


  @media screen and (min-width: 768px) and (max-width: 991px){
    body {
      background-image: linear-gradient(to top, var(--color01), var(--color02));
    }

    #login {
      width: 80vw;
      height: 40rem;
    }

    #login > #image {
      float: left;
      
      width: 30%;
      height: 100%;
    }

    #login > #formulario{
      float: right;

      width: 70%;
    }

    #formulario h1 {
      font-size: 2.4rem;
    }

    #formulario p {
      font-size: 1.6rem;
    }

    .campo:nth-child(2){
      margin-bottom: 2rem;
    }

    form {
      margin-top: 5rem;
    }
    
  }


  @media screen and (min-width: 992px) {
    body {
      background-image: linear-gradient(to top, var(--color01), var(--color02));
    }

    #login {
      width: 99rem;
      height: 40rem;
    }

    #login > #image {
      float: right;

      width: 50%;
      height: 100%;
    }

    #login > #formulario {
      float: left;
      width: 50%;
    }

    #formulario h1 {
      font-size: 3.2rem;
    }

    #formulario p {
      font-size: 1.8rem;

      margin: 2.5rem 0px;
    }

    .campo:nth-child(2){
      margin-bottom: 2rem;
    }

    form {
      margin-top: 5rem;
    }
  }